<adapter-metadata>
    <description></description>
    <class-name>com.windward.qbosatt.QbosAdapter</class-name>
    <adapter-jar>@ant.project.name@-@version@.jar</adapter-jar>
    <required-jars>
        <required-jar>com.qbos.QTP.jar</required-jar>
        <required-jar>commons-lang-2.3.jar</required-jar>
        <required-jar>axis-jaxrpc-1.4.jar</required-jar>
        <required-jar>com.springsource.org.apache.axis-1.4.0.jar</required-jar>
        <required-jar>joda-time-2.2.jar</required-jar>
        <required-jar>json-simple-1.1.1.jar</required-jar>
    </required-jars>
</adapter-metadata>